body {
  font-family: "Montserrat", sans-serif;
  background-color: whitesmoke;
}

header {
  background-color: #244751;
  /* inheritence */
  color: #E8FDFF;
}

main {
  background-color: white;
  padding: 16px;
}

.finstagram-post {
  margin-bottom: 48px;
}

.finstagram-post .user-info img {
  border-radius: 50%;
}

a.photo {
  transition: padding 0.5s;
}

/* an a elm with the class */
a.photo:hover {
  padding: 10px;
}

/*  
- desktop-first: max-widths in desc
- mobile-first: min-widths in asc
*/

/* media queries */
@media screen and (max-width: 768px) {
  /* css rules */

  header {
    display: flex;
    align-items: center;
    padding: 0 1em;
  }
  header .login-info {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
  }
  header .login-info a {
    padding: 8px 0;
  }

}

@media screen and (max-width: 480px) {
  /* css rules */

  main {
    width: 90%;
  }

  .user-info h2 {
    font-size: 1.1em;
  }

  .user-info h3 {
    font-size: 0.9em;
  }

}